<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="color-scheme" content="light only">
    <title>Resetowanie hasła w serwisie CarCase</title>
  </head>
  <body>
    <p style="margin-bottom: 20px;">Dzień dobry!</p>
    <p style="margin-bottom: 20px;">Na twoim koncie zapoczątkowano proces resetowania hasła, aby zresetować hasło kliknij poniższy link:</p>

    <a 
      href="https://localhost:3000/zmien-haslo?token={{ token }}&expires={{ expires }}"
      target="_blank" 
      style="display: inline-block; margin-bottom: 20px; padding: 15px 30px; border-radius: 8px; background-color: #0D9488; color: white; font-weight: 600; text-decoration: none;"
    >Resetuj hasło</a>

    <p style="margin-bottom: 20px;">Jeśli to nie ty zapoczątkowałes proces resetowania hasła, zignoruj tę wiadomość.</p>

    <p>Pozdrawiamy,</p>
    <p>Zespół CarCase</p>
  </body>
</html>
